<html>
<head>
<title>
Link Sharing
</title>
<link rel="stylesheet" type="text/css" href="../public/assets/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function()
{

	$.ajax({type: "GET", 
			url:"/display",
			data: {newLink:0},
			
			success: function(rows)
			{
				show(rows);
			}
  		});

	$("#submit2").on('click',function()					//only click functionality
		{

			var newLink1 = $("#newLink").val();
			$.ajax({
  				type: "POST",
  				url: "/display",
  				data: {newLink:newLink1}
				})
  			.done(function(rows) 
  			{
    			show(rows);
  			});
  			$("#newLink").val("");	
		});
		$("#newLink").bind("enterKey",function(e)			//Enter functionality added
  		{
			var newLink1 = $("#newLink").val();
			$.ajax({
  				type: "POST",
  				url: "/display",
  				data: {newLink:newLink1}
				})
  			.done(function(rows) 
  			{
    			show(rows);
			}
		$('#linkBox').html(content);
  			});
  			$("#newLink").val("");						//Making value of textbox null
		});

	$("#newLink").keyup(function(e){
	if(e.keyCode == 13)
	{
	  $(this).trigger("enterKey");
	}
	});

	function show(rows)
	{
			var content = "";
			for(var i=0; i<rows.length; i++)
			{
				content += '<div class="name">' +
				rows[i]["username"] + '<span class="right">' + rows[i]["time"] + '</span></div>' + rows[i]["descrip"] +'<br><br><hr>';
			}
		$('#linkBox').html(content);
	}
	
});
</script>
</head>
<body>
	Welcome, {{username}}! Feel free to post comments!
	<span class="right"><a href="/logout">Logout</a></span><br />
	Post your links:
    <input type="text" class="newLink">
    <input type="submit" value="Submit" id="submit2">
<div class="linkBox">

</div>
</body>
</html>